<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
	</head>
	<body>
		<h1>hello world</h1>
		<form id="form" method="POST">
			<div id="search">
                    <input id="searchbox" type="text" placeholder="Search Publication Database" autofocus required name="search_text"/><br>
                    <select name="search_type" required>
                    <option value=""></option>
                    <option value="Title">Title</option>
                    <option value="Author">Author</option>
                    <option value="Keyword">Keyword</option>
                    <option value="References">References</option>
                    </select><br>

                    <input id="searchbutton" type="submit" value="Search" name="search_button"/><br>
                    <input id="vizbutton" type="submit" value="Visualize Data!" name="viz_button"/>
            </div>
        </form>
	</body>
	<script type="text/javascript">

        // function main() {
            
        //     $('#searchbutton').click(function(){
        //         var search_text = $( "#searchbox" ).text();
        //         print search_text
        //         // window.location.href='/results';
        //     })

        //     $('#vizbutton').click(function(){
        //         // window.location.href='/viz';
        //     })
        // }

        $(main);

    </script>
</html>