<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script type="text/javascript" src="../d3/d3.js"></script>
        <style>
            div.bar {
                display: inline-block;
                width: 1px;
                height: 75px;   /* We'll override this later */
                background-color: teal;
                margin-right: 1px;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }

            .axis text {
                font-family: sans-serif;
                font-size: 11px;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">

            // Width and height
            var w = 500;
            var h = 500;
            var padding = 50;

            var dataset = [[1, 2001], [1, 2001], [1, 2012], [1, 2013], [5, 2009], [2, 2009], [1, 2009], [1, 2010], [1, 1966], [5, 2013], [5, 2013], [2, 2011], [1, 2012], [1, 2013], [5, 1930], [2, 2001], [1, 2013], [1, 2011], [3, 2004], [1, 2011], [2, 2013], [1, 2011], [3, 2013], [2, 2011], [1, 2006], [1, 2013], [1, 2006], [5, 2013], [1, 2012], [7, 2004], [6, 2004], [6, 2004], [6, 2000], [8, 2005], [6, 2007], [6, 2007], [6, 2007], [6, 1962]];

            //Create scale functions
            var xScale = d3.scale.linear()
                                 .domain([0, d3.max(dataset, function(d) { return d[0]; })])
                                 .range([padding, w-padding*2]);

            var yScale = d3.scale.linear()
                                 .domain([1950, d3.max(dataset, function(d) { return d[1]; })])
                                 .range([padding, h-padding]);

            var rScale = d3.scale.linear()
                                 .domain([0, d3.max(dataset, function(d) { return d[0]; })])
                                 .range([2, 5]);

            //Define X axis
            var xAxis = d3.svg.axis()
                                .scale(xScale)
                                .orient("bottom")
                                .ticks(5);

            //Define Y axis
            var yAxis = d3.svg.axis()
                              .scale(yScale)
                              .orient("left")
                              .ticks(5);

            //Create SVG element
            var svg = d3.select("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

            //Create circles
            svg.selectAll("circle")
                .data(dataset)
                .enter()
                .append("circle")
                .attr("cx", function(d) {
                    return xScale(d[0]);
                })
                .attr("cy", function(d) {
                    return yScale(d[1]);
                })
                .attr("r", function(d) {
                    return rScale(d[0])
                });

            //Create labels
            svg.selectAll("text")
                .data(dataset)
                .enter()
                .append("text")
                .text(function(d) {
                    return "(" + d[0] + "," + d[1] + ")";
                })
                .attr("x", function(d) {
                    return xScale(d[0]);
                })
                .attr("y", function(d) {
                    return yScale(d[1]);
                })
                .attr("font-family", "sans-serif")
                .attr("font-size", "10px")
                .attr("fill", "red");

            //Create X axis
            svg.append("g")
                .attr("class", "axis")  //Assign "axis" class
                .attr("transform", "translate(0," + (h - padding) + ")")
                .call(xAxis);

            //Create Y axis
            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(" + padding + ",0)")
                .call(yAxis);

        </script>
    </body>
</html>     