{% extends 'base.html' %}
{% block body %}

<style>

    /*node styling*/
    .node circle {
        fill: #fff;
        stroke: #33CCCC;
        stroke-width: 2px;
    }

    .node text { font: 12px sans-serif; }

    .link {
        fill: none;
        stroke: #cccccc;
        stroke-width: 2px;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 12px;
    }

    .axis path {
      display: none;
    }

    .axis line {
        stroke: #cccccc;
        stroke-dasharray: 2,2;
    }

    #pubinfo {
        position: absolute;
        width:190px;
        visibility: hidden;
        padding:10px;
        border:2px;
        border-radius:8px;
        border-style:solid;
        border-color:#cccccc;
        background-color: #fff;
        opacity:0.75;
    }

</style>

<div id="viz">
    <div id="pubinfo">
        <p></p>
    </div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
    
<script>

function tree() {
var treeData = {{ data|safe }}; //send in json data from litviz.py

var yScale = d3.scale.linear()
                     .domain([ {{ year_min }} - 5 , {{ year_max }} + 5 ])
                     // .domain([d3.min(treeData, function(d) { return d.time; } ), d3.max(treeData, function(d) { return d.time; } ) ])
                     .range([0, 1025]);

var rScale = d3.scale.linear()
                     .domain([ {{ citation_min }}, {{ citation_max }}
                        // d3.max(treeData, function(d) { return d.relatedness; } ) 
                        ])
                     .range([3, 10]);

//Define Y axis
var yAxis = d3.svg.axis()
                  .scale(yScale)
                  .orient("bottom")
                  .tickFormat(d3.format("d")) //change tick format to remove commas
                  .tickSize(550)
                  // .ticks([5])
                  

// ************** Generate the tree diagram  *****************
var margin = {top: 25, right: 50, bottom: 25, left: 50},
    // width = $("#viz").width
    width = 600 - margin.right - margin.left,
    height = 1125 - margin.top - margin.bottom;

    
var i = 0;

var tree = d3.layout.tree()
    .size([width, height]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#viz").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

root = treeData[0];
    
update(root);

$("svg").width("100%");
$("svg").height("100%");

function update(source) {

    //Create Y axis
    svg.append("g")
        .attr("class", "axis")
        .call(yAxis);

    // Compute the new tree layout.
    var nodes = tree.nodes(root).reverse(),
        links = tree.links(nodes);

    // Normalize for fixed-depth.
    nodes.forEach(function(d) { d.y = yScale(d.year) ; });

    // Declare the nodes…
    var node = svg.selectAll("g.node")
        .data(nodes, function(d) { return d.id || (d.id = ++i); });

    // Enter the nodes.
    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .attr("pubid", function(d) {return d.id; }) //added pubid attribute to nodes
        .attr("xcoord", function(d) {return Math.round(d.x * 100) / 100; })
        .attr("ycoord", function(d) {return Math.round(d.y * 100) / 100; })
        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

    nodeEnter.append("circle")
        .attr("r", 5)
        .attr("r", function(d) { return rScale(d.google_citation_count) })
        .style("fill", "#fff")
        .on("mouseover", function(d) { 
            
            $("#pubinfo")
            .css({ 'left': d.y + margin.left - 220})
            .css({ 'top': d.x + margin.top })
            .css('visibility','visible').hide().fadeIn(1000); 

            $("#pubinfo p").html(d.title);
            
            var circle = d3.select(this);
            (function repeat() {
                circle = circle
                    .transition()
                    .duration(1000)
                    .style("stroke-width", 3)
                    .style("stroke", "#FFCC00")
                    .attr("r", rScale(d.google_citation_count) + 7 )
                    .transition()
                    .duration(1000)
                    .attr("r", rScale(d.google_citation_count))
                    .ease('sine')
                    .each("end", repeat); })();
        })
        .on("mouseout", function(d) { 
            $("#pubinfo").fadeOut(500);
            var circle = d3.select(this);
            (function () { 
                circle = circle.transition()
                    .duration(500)
                    .style("stroke-width", 2)
                    .style("stroke", "#33CCCC")
                    .attr("r", rScale(d.google_citation_count)); })();
        })
        .on("dblclick", (function(d) {
            console.log(d.id)
            // window.location.href = "/submit?pub_id="+ d.id;
            $.ajax({
                url: "/update",
                data: { "pub_id": d.id },
                success: redrawgraph,
            });
            // $.get("/update", { "pub_id": d.id } );
            //     tree);
        }) )

    // nodeEnter.append("text")
    //     .attr("y", function(d) { 
    //         return d.children || d._children ? -20 : -20; })
    //     .attr("dy", ".35em")
    //     .attr("text-anchor", "middle")
    //     .text(function(d) { return d.title; })
    //     .style("fill-opacity", 1);

    // Declare the links…
    var link = svg.selectAll("path.link")
        .data(links, function(d) { return d.target.id; });

    // Enter the links.
    link.enter().insert("path", "g")
        .attr("class", "link")
        .attr("d", diagonal);

} //closes update
}

function redrawgraph(data){
    console.log("hey I'm in redraw graph")
    console.log(data)
    //clear
    //redraw tree(new_data)
}

// function updateTree() {
//     //new route that returns json
//     $.get("/new_data", function(new_json) {
//         tree(new_json);
//     }
// }

tree();
// tree(tree_json);

</script>

{% endblock %}